input{
    width: 100%;
    display: block;
    font-size: 2rem;
    border-radius: 2rem;    
    margin: 2rem 0;
    padding: 1rem;
}

input:focus {
    outline:none;
}

form{
    margin: 30rem auto;
    width: 30%;
}

p{
    color: white;
    font-size: 2rem;
}

input.ng-pristine {
    background-color: white;
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
}
  
// input.ng-dirty {
//     background-color: rgb(169, 175, 176);   
// }