.about-info{
    height: 15rem;
    h1{
        text-align: center;
        font-size: 4.8rem;
        color: $font-blue;
        font-family: $font-reg;
        margin-bottom: 1%;  
    }
    p{
        width: 66%;
        margin: 0% auto;
        text-align: center;
        color: $font-grey;  
        font-size: 1.4rem;
        font-family: $font-reg;   
    }
}

.about-item-holder
{

    margin: 0 auto;
    width: 76%;
    display: flex;
    flex-direction: row;

    .aboutitem{
        width: 27.9%;  
        margin: 0% 2.7%;    

        #aboutimage1{
            background-image: url("./public/images/about1.png");
            width: 30%;
            height: 8.9rem; 
            margin: 1rem auto;      
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: contain;
        }
       
        #aboutimage2{
           background-image: url("./public/images/about2.png");
           width: 30%;     
           height: 8.9rem;
           margin: 1rem auto;    
           background-position: center; /* Center the image */
           background-repeat: no-repeat; /* Do not repeat the image */
           background-size: contain;
       }
       
       #aboutimage3{
           background-image: url("./public/images/about3.png");
           width: 30%;
           height: 8.9rem;
           margin: 1rem auto;       
           background-position: center; /* Center the image */
           background-repeat: no-repeat; /* Do not repeat the image */
           background-size: contain;
       }

       h1{
            text-align: center;
            color: $font-blue;
            font-family: $font-medium;
            font-size: 1.8rem;
       }
       p{
           text-align: center;
           font-family: $font-reg;
           font-size: 1.4rem;
       }
     }
    
}
  
.about-button-holder{
    text-align: center;
    padding: 5rem 0;
    box-sizing: border-box;

    button{
        background-color: $font-grey;
        color: white;
        height: 4rem; 
        width: 10%;
        align-self: center;     
    } 
}