.product-slider-inner{
    position: relative;
    overflow: hidden;
    float: left;
    padding: 3px;

    div{
        display: none;
    }

    div.active{
        display: inline-block;
    }
}

.product-slider-outer{
    overflow: auto;

    .product-prev{
        margin-top: 23rem;
        height: 4rem;
        position: relative;
        z-index: 100;
        cursor: pointer;
    }
    
    .product-next{
        margin-top: 23rem;
        height: 4rem;
        position: relative;
        z-index: 100;
        cursor: pointer;
    }
}