@font-face {
    font-family: 'robotoBold';
    src: url('./public/fonts/roboto-bold/Roboto-Bold.woff') format('woff'),
         url('./public/fonts/roboto-bold/Roboto-Bold.ttf') format('ttf'),
         url('./public/fonts/roboto-bold/Roboto-Bold.svg') format('svg'),
         url('./public/fonts/roboto-bold/Roboto-Bold.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoMedium';
    src: url('./public/fonts/roboto-medium/Roboto-Medium.woff') format('woff'),
         url('./public/fonts/roboto-medium/Roboto-Medium.ttf') format('ttf'),
         url('./public/fonts/roboto-medium/Roboto-Medium.svg') format('svg'),
         url('./public/fonts/roboto-medium/Roboto-Medium.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}
 
@font-face {
    font-family: 'Roboto-Regular';  
    src: url('./public/fonts/Roboto-Regular.woff') format('woff'),
         url('./public/fonts/Roboto-Regular.ttf') format('ttf'),
         url('./public/fonts/Roboto-Regular.svg') format('svg'),
         url('./public/fonts/Roboto-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}
$font-reg : 'Roboto-Regular', sans-serif;
$font-medium : 'robotoMedium', sans-serif;
$font-bold : 'robotoBold' , sans-serif;
$font-blue : rgb(0, 142, 211);
$font-grey : rgb(106,106,106);
$font-slight-grey : rgb(98, 100, 102);
$font-light-blue : rgb(34,205,246);