.aboutitem{
    width: 30%;
    margin: 1.66%;
    float: left;
 }

#aboutimage1{
     
     background-image: url("");
     width: 100%;
     height: 30rem;
     background-position: center; /* Center the image */
     background-repeat: no-repeat; /* Do not repeat the image */
     background-size: cover;
 }

 #aboutimage2{
     
    background-image: url("");
    width: 100%;
    height: 30rem;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

#aboutimage3{
     
    background-image: url("");
    width: 100%;
    height: 30rem;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}