
.logoholder
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    float: left;
    margin-left: 2%;
}

#sitelogo
{
    width: 50%;
    margin-left: 3.2%;
    display: block;
    padding-top: 15px;
}

#vectorSmartObject
{
    width: 50%;
    margin-left: 3.2%; 
    display: block;
    padding-top: 5px;
    padding-bottom: 15px;
}

.navbarholder
{
    width: 100%;
    position: relative;
    display: flex;
    border-color: black;
    padding-bottom: 3px;
    align-items: center;
}

.topnav
{
    vertical-align: middle;
    width: 80%;
    
}

nav ul{
    margin:0;
    padding: 0;
    text-align: right;
    padding-right: 3%;
    height: 100%;
    li{
        display: inline-block;
        padding:0 2%; 
        height: 100%; 
        a {
            font-family: $font-medium;
            font-size: 14px;
            height: 100%;
            color: black;
            display: block;
            text-decoration: none;  
            &:hover {color: $font-blue; border-top: 3px solid $font-blue;}
        }

    }

}

.hamburger
{
    width: 70%;
    float: right;
    display: none;
}

#hamburger
{
   text-align: right;
   vertical-align: middle;
    width: 20%;
}